<a href="https://colab.research.google.com/github/rxi-prakharvrm/Machine-Learning/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('NaiveBayesClassifier.csv')

In [4]:
df.head()

  Temperature Humidity    Wind   Outlook Play
0         Hot     High    Weak     Sunny   No
1         Hot     High  Strong     Sunny   No
2        Mild     High    Weak  Overcast  Yes
3        Cool   Normal    Weak     Rainy  Yes
4        Cool      Low  Strong     Rainy  Yes

In [5]:
df.sample()

   Temperature Humidity    Wind Outlook Play
85        Mild     High  Strong   Rainy  Yes

### Implementing Naive Bayes Algorithm From Scrath For Binary Classification

- Dataset Used -> Dummy Dataset Generated From ChatGPT
- Comparision With Naive Bayes Algorithm from sklearn


#### Steps Involved

1. Analyze the Distribution of Classes & Measure thier Probablities
2. for each class -> Compute the Joint Probablity with all the attributes
3. Split the Data into Train & Test for Verification

In [6]:
df['Play'].value_counts()

Play
Yes    114
No      37
Name: count, dtype: int64

In [14]:
# Computing Probablities
classes_probablity = pd.crosstab(df['Play'],columns='Play',normalize=True)

In [15]:
c1 = round(classes_probablity.values[0][0], 3)
c2 = round(classes_probablity.values[1][0], 3)

In [16]:
c1

0.245

In [17]:
c2

0.755

In [ ]:
classes = df.Play.value_counts().index

In [ ]:
classes

Index(['Yes', 'No'], dtype='object', name='Play')

In [ ]:
len(df.iloc[:,0].value_counts().index)

3

In [ ]:
df.iloc[:,0].value_counts().values

array([59, 50, 42], dtype=int64)

In [ ]:
A1 = []

In [ ]:
temp_array = df.iloc[:,0].value_counts().index

In [ ]:
df[(df.iloc[:,0] == temp_array[0]) & (df['Play'] == classes[0])].shape

(53, 5)

In [ ]:
df[(df['Play']==classes[0])].shape

(114, 5)

In [ ]:
53/114

0.4649122807017544

In [ ]:
for i in range(len(classes)):
    temp_df = df.iloc[:,0].value_counts()
    temp_A1 = []
    for j in range(len(temp_df)):
        temp_A1.append((df[((df['Play']==classes[i]) & (df.iloc[:,0] == temp_df.index[j]))].shape[0])/(df['Play']==classes[i]).sum())
    A1.append(temp_A1)

In [ ]:
print(A1)

[[0.4649122807017544, 0.19298245614035087, 0.34210526315789475], [0.16216216216216217, 0.7567567567567568, 0.08108108108108109]]

In [ ]:
pd.crosstab(df['Temperature'],df['Play'],margins=True,normalize='columns')

Play               No       Yes       All
Temperature
Cool         0.081081  0.342105  0.278146
Hot          0.756757  0.192982  0.331126
Mild         0.162162  0.464912  0.390728

In [ ]:
A2 = []

In [ ]:
for i in range(len(classes)):
    temp_df = df.iloc[:,1].value_counts()
    temp_A1 = []
    for j in range(len(temp_df)):
        temp_A1.append((df[((df['Play']==classes[i]) & (df.iloc[:,1] == temp_df.index[j]))].shape[0])/(df['Play']==classes[i]).sum())
    A2.append(temp_A1)

In [ ]:
A2

[[0.3508771929824561, 0.2631578947368421, 0.38596491228070173],
 [0.43243243243243246, 0.5405405405405406, 0.02702702702702703]]

In [ ]:
pd.crosstab(df['Humidity'],df['Play'],margins=True,normalize='columns')

Play            No       Yes       All
Humidity
High      0.432432  0.350877  0.370861
Low       0.027027  0.385965  0.298013
Normal    0.540541  0.263158  0.331126

In [ ]:
A3 = []

In [ ]:
for i in range(len(classes)):
    temp_df = df.iloc[:,2].value_counts()
    temp_A1 = []
    for j in range(len(temp_df)):
        temp_A1.append((df[((df['Play']==classes[i]) & (df.iloc[:,2] == temp_df.index[j]))].shape[0])/(df['Play']==classes[i]).sum())
    A3.append(temp_A1)

In [ ]:
A3

[[0.5526315789473685, 0.4473684210526316],
 [0.6216216216216216, 0.3783783783783784]]

In [ ]:
pd.crosstab(df['Wind'],df['Play'],margins=True,normalize='columns')

Play          No       Yes       All
Wind
Strong  0.378378  0.447368  0.430464
Weak    0.621622  0.552632  0.569536

In [ ]:
A4 = []

In [ ]:
for i in range(len(classes)):
    temp_df = df.iloc[:,3].value_counts()
    temp_A1 = []
    for j in range(len(temp_df)):
        temp_A1.append((df[((df['Play']==classes[i]) & (df.iloc[:,3] == temp_df.index[j]))].shape[0])/(df['Play']==classes[i]).sum())
    A4.append(temp_A1)

In [ ]:
A4

[[0.3333333333333333, 0.3508771929824561, 0.3157894736842105],
 [0.5405405405405406, 0.4594594594594595, 0.0]]

In [ ]:
pd.crosstab(df['Outlook'],df['Play'],margins=True,normalize='columns')

Play            No       Yes       All
Outlook
Overcast  0.000000  0.315789  0.238411
Rainy     0.459459  0.350877  0.377483
Sunny     0.540541  0.333333  0.384106

In [ ]:
# Mild Normal Strong Overcastt
pehla = A1[0][0] * A2[0][1] * A3[0][0] * A4[0][0] * c2
dusra = A1[1][0] * A2[1][1] * A3[1][0] * A4[1][0] * c1

In [ ]:
pehla*100

1.7015660689118923

In [ ]:
dusra*100

0.7216028932412958

In [ ]:
df[( (df['Temperature'] == 'Mild') & (df['Humidity'] == 'Normal') & (df['Wind'] == 'Weak') & (df['Outlook']=='Sunny') )]

    Temperature Humidity  Wind Outlook Play
38         Mild   Normal  Weak   Sunny  Yes
65         Mild   Normal  Weak   Sunny  Yes
87         Mild   Normal  Weak   Sunny  Yes
115        Mild   Normal  Weak   Sunny  Yes
143        Mild   Normal  Weak   Sunny  Yes